/MyLittleFox/Logs
/MyLittleFox/obj
/MyLittleFox/UserSettings
/MyLittleFox/.vsconfig
/MyLittleFox/AimingRig.csproj
/MyLittleFox/Assembly-CSharp.csproj
/MyLittleFox/DOTween.Modules.csproj
/MyLittleFox/Little Fox.sln
/MyLittleFox/SerializeReferenceDropdown.csproj
/MyLittleFox/SerializeReferenceDropdownRuntime.csproj
/MyLittleFox/TeamMingo.Common.Runtime.csproj
/MyLittleFox/TeamMingo.Configs.Editor.csproj
/MyLittleFox/TeamMingo.Configs.Runtime.csproj
/MyLittleFox/TeamMingo.Screens.Editor.csproj
/MyLittleFox/TeamMingo.Screens.Runtime.csproj
/MyLittleFox/TeamMingo.Toolbox.Editor.csproj
/MyLittleFox/TeamMingo.Toolbox.Runtime.csproj
/MyLittleFox/.vs
/MyLittleFox/Library
/MyLittleFox/MyLittleFox.sln
